html{
  background-color:#1e2848;
}

h1, p, span{
  font-family: sans-serif;
}

.header {
  text-align: center;
}

.header h1{
  font-weight: 400;
  font-size: 62px;
  color: #95cc50;
}

.personagens{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.personagens .personagem{
  background-color: #233e8a;
  width: 300px;
  border-radius: 16px;
  border-bottom: 16px;
}

.personagens .personagem img{
  width: 300px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.personagens .personagem p{
  color: white
}

.personagens .personagem span{
  color: black;
  background: green;
}